
<h3>Create your very own hipster!</h3>
<%= effective_form_with model: @hipster do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :beer, placeholder: "Favorite Beer"%>
  <%= f.text_field :coffee, placeholder: "Coffee Notes"%>
  <%= f.text_field :quote, placeholder: "Words of wisdom"%>
  <%= f.text_field :hipster_id %>

  <h3>Things</h3>
  <div id="things">
    <%= f.fields_for :things do |thing| %>
      <%= render 'things/fields', f: f %>
    <% end %>
    <div id="links">
      <%= link_to_add_association 'add thing', f, :things %>
    </div>
  </div>

  <%= f.submit(left: true) %>
<% end %>
<a class="btn btn-secondary" href="/hipsters">Back</a>

<!--
<div class="form">
  <%= form_with model: @hipster do |form| %>
    <p class="lead">Name your hipster, yo!</p>
      <%= form.text_field :name, :size => "110", placeholder: "Name"%>
    <p class="lead">They don't have an opinion on beer, do they?</p>
      <%= form.text_field :beer, :size => "110", placeholder: "Of course they do"%>
    <p class="lead">On coffee?</p>
      <%= form.text_field :coffee, :size => "110", placeholder: "On everything"%>
    <p class="lead">Go ahead, tell us what they're all about</p>
      <%= form.text_field :quote, :size => "110", placeholder: "Words of wisdom"%>
      <br>
      <%= form.submit :class => "myBtn"%>
  <% end %>
</div>

-->

