<div class="jumbotron">
<h3>Create your very own hipster!</h3>
<%= effective_form_with model: @hipster do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.text_field :beer, placeholder: "Favorite Beer"%>
  <%= form.text_field :coffee, placeholder: "Coffee Notes"%>
  <%= form.text_field :quote, placeholder: "Words of wisdom"%>
  <%= form.submit %>
<% end %>
<br>
<a class="btn btn-secondary" href="/hipsters">Back</a>
</div>